<p id="notice"></p>
<h1>Books</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th clospan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>リーダブルコード</td>
            <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
            <td>
                <a class="show_12587" href="/books/12587">Show</a>
            </td>
            <td>
                <a class="edit_12587" href="/books/12587">Edit</a>
            </td>
            <td>
                <a data-confirm="Are you sure?" class="destroy_12587" rel="nofollow" data-method="delete" href="/books/12587">Destroy</a>
            </td>
        </tr>
    </tbody>
</table>